figure {
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}